<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokedex | Vue</title>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div id="app">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Pokedex</a>
          <form class="form-inline" @submit.prevent="filterPokemon(inputValue)">
            <input v-model="inputValue" class="mr-sm-2 p-1 m-2" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0 mx-2" @click="filterPokemon(inputValue)">Search</button>
            <button type="button" class="btn btn-outline-light my-2 my-sm-0" @click="clearPokemon">Clear</button>
          </form>
      </nav>
      
      
      
      <div id="party">
        <h2 class="px-2">Party</h2>
        <div class="info">
          <p class="px-2 lead">{{partyPokemon.length}} of 6 pokemon</p>
        </div>
        <div id="party-pokemon">
          <div
          class="pokemon"
          v-for="pokemon in partyPokemon"
            @click="removePokemonFromParty(pokemon)"
            >
            <div class="img-container">
              <img
              :src="pokemon.sprites.other['official-artwork'].front_default"
            />              
          </div>
          <div class="info">
              <span class="number">#{{pokemon.id}}</span>
              <h3 class="name">{{pokemon.name}}</h3>
              <small class="type">
                Type:
                {{pokemonTypeString(pokemon)}}
              </small>
            </div>
          </div>
        </div>
      </div>
      <div v-if="filteredPokemon.length > 0" id="filter">
        <h2>Filtered Pokemon</h2>
        <div id="filtered-pokemon">
          <div
          class="pokemon"
          v-for="pokemon in filteredPokemon"
          @click="addPokemonToParty(pokemon)"
          >
            <div class="img-container">
              <img
              :src="pokemon.sprites.other['official-artwork'].front_default"/>
            </div>
            <div class="info">
              <span class="number">#{{pokemon.id}}</span>
              <h3 class="name">{{pokemon.name}}</h3>
              <small class="type">
                Type:
                {{pokemonTypeString(pokemon)}}
              </small>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div id="all">
          <h2 class="px-2">All Pokemon</h2>
          <div id="all-pokemon">
            <div
              class="pokemon"
              v-for="pokemon in allPokemon"
              @click="addPokemonToParty(pokemon)"
              >
              <!--
              </div>:style= "background-image: linear-gradient(90deg, {{colors[pokemon.types[0].type.name]}} 50%, #00FFFF {{colors[pokemon.types.length > 1 ? pokemon.types[1].type.name : null]}})"
              -->   
              <div class="img-container">
                <img
                  :src="pokemon.sprites.other['official-artwork'].front_default"
                />
              </div>
              <div class="info">
                <span class="number">#{{pokemon.id}}</span>
                <h3 class="name">{{pokemon.name}}</h3>
                <small class="type">
                  Type:
                  {{pokemonTypeString(pokemon)}}
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <footer class="fixed-bottom">
        <p>&copy; 2021</p>
      </footer>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <script src="https://unpkg.com/vue@next"></script>

    <script src="app.js"></script>
  </body>
</html>
